html,
body {
  background: #0078D7;
  color: #FFF;
  font-family: 'Helvetica', sans-serif;
  font-size: 24px;
  font-weight: 300;
  overflow: auto;
  font-family: 'Muli', 'Helvetica', Arial, sans-serif;
}


.title-slider{
  font-size: 1rem;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  list-style: none;
}

.responsive{
  width: 100%;
  max-width: 400px;
  height: auto;;
}

#slider ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background: #0078D7;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 50px;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

.center{
  text-align:center;
}

.margin-top{
  margin-top:5%
}

.android{
  background-color: #0078d7;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.mobile-image {
  display: none;
}

.desktop-image {
  display: block;
}

.apply-btn{
  position: absolute;
  bottom: 100px;
}

.apply-btn a{
  border-color: white;
}


/*Home*/
.btnVisit{
  text-decoration: none; 
  color: black;
  margin-right: 20px;
}
.btnVisit:hover{
  text-decoration: none;
  color: black;
}
.masonry{
  column-count: 3;
  column-gap: 3%;
  column-width: 30%;
}
.poster{
  width: 100%;
}

/*Detail*/
.spaceDetail{
  margin-top:2%;
}
.buttonBack{
  float: left; 
  left: 10%;
  position: absolute;
}
.buttonBack a {
  color:#fff;
}
.buttonBack a:hover{
  text-decoration: none;
}
.detail{
  overflow-x: hidden;

}
.wizard-container{
  display: grid;
  grid-template-columns: 40% 60%;
  clear: both;
}
.card-form{
  margin-top: 80px !important;
}
#imageid{
  width: 100%;
  position: relative;top: 50%;
  transform: translateY(-50%);
}
.detail-right{
  padding:20px 25px;
  font-size: 14px;
}
.detail-right hr{
  border-top: 2px solid #0078D7; 
  width:100px;
}
.detailTitle{
  text-align: center; 
  color:#0078D7; 
  font-weight: bold;
  font-size: 16px;
}
.jobDes{
  text-align: justify;
}
.detail-right ul{
  font-size: 16px;
}
.detail-right ul li{
  text-align: justify;
}
.btnSubmit{
  width:300px; 
  margin: 10px auto;
}
.btnSubmit p{
  text-align: center; 
  color:#0078D7; 
  font-size:15px; 
  padding: 0%
}
.btnSubmit a{
  display:inherit;
}
.card{
  margin: auto;
}
.btn-daftar{
  font-size: 14pt;
  border: 2px solid #0080DD;
  text-align: center;
  border-radius: 50px;
  padding: 5px;
  text-decoration: none;
}
.btn-daftar:hover{
  font-size: 14pt;
  border: 2px solid #0080DD;
  background-color: #0080DD;
  border-radius: 50px;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 864px) {
  .masonry{
    column-count: 1;
    column-gap: 3%;
    column-width: 30%;
  }
  .wizard-container{
    display: grid;
    grid-template-columns: 1fr;
    clear: both;
  }
  .title-slider{
    font-size: 18px;
  }
  .tbl-pelamar{
    min-width: 900px;
    width: 900px;
    max-width: 900px;
  }
 
}

@media only screen and (max-width: 600px) {
  .desktop-image {
    display: none !important;
  }

  .mobile-image {
    display: block !important;
  }

  .apply-btn{
    bottom: -51px;
  }
  .card{
    margin: 
  }
} 
