@font-face {
  font-family: 'sf_pro_displayregular';
  src: url('../font/1Regular/sf-pro-display-regular-webfont.woff2') format('woff2'),
       url('../font/1Regular/sf-pro-display-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


html,
body {
  /* background: #0472B9; */
  color: #FFF;
  font-family: 'sf_pro_displayregular', sans-serif;
  font-size: 24px;
  font-weight: 300;
  overflow: auto;
  /* font-family: 'Muli', 'Helvetica', Arial, sans-serif; */
}

.header-vascomm{
  height: 100px;
  background: #FFFFFF;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
}

.header-vascomm .logo-vascomm{
  width: 170px;
}

.title-slider{
  font-size: 1rem;
}
 
#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  list-style: none;
}

.responsive{
  width: 100%;
  max-width: 400px;
  height: auto;
}

#slider ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background: #0472B9;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 50px;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

.center{
  text-align:center;
}

.margin-top{
  margin-top:7%;
  margin-bottom:5%;
}

.android{
  background-color: #0472B9;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.mobile-image {
  display: none;
}

.desktop-image {
  display: block;
}

.apply-btn{
  position: absolute;
  bottom: 100px;
}

.apply-btn a{
  border-color: white;
}


/*Home*/
.btnVisit{
  text-decoration: none; 
  color: white;
  margin-right: 20px;
  padding: 10px 45px;
  background-color: #0472B9;
  border-radius: 21px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}
.btnVisit:hover{
  text-decoration: none;
  color: white;
}
.title-slide-home{
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #8F8F8F;
  margin-bottom: 0px;
}

.subtitle-slide-home{
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}
.masonry{
  column-count: 3;
  column-gap: 3%;
  column-width: 30%;
}
.poster{
  width: 100%;
}

/*Detail*/
.spaceDetail{
  margin-top:2%;
  color: black;
}
/* .buttonBack{
  position: absolute;
} */
.buttonBack a {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color:#8F8F8F;
}
.buttonBack .arrow {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color:#8F8F8F;
}

.buttonBack a:hover{
  text-decoration: none;
}
.detail{
  overflow-x: hidden;

}
.card-detail{
  border: none;
  background: none;
}
.wizard-container{
  display: grid;
  grid-template-columns: 40% 60%;
  clear: both;
}
.card-form{
  margin-top: 80px !important;
}
#imageid{
  width: 100%;
  position: relative;
  /* top: 50%;
  transform: translateY(-50%); */
  padding-top: 60px;
}
.detail-right{
  padding:20px 25px;
  font-size: 14px;
}
.detail-right hr{
  border-top: 2px solid #0472B9; 
  width:100px;
}
.detailTitle{
  text-align: center; 
  color:#0472B9; 
  font-weight: bold;
  font-size: 16px;
}
.jobDes{
  text-align: justify;
}
.detail-right ul{
  font-size: 16px;
}
.detail-right ul li{
  text-align: justify;
}
.btnSubmit{
  width:300px; 
  margin: 10px auto;
}
.btnSubmit p{
  text-align: center; 
  color:#0472B9; 
  font-size:15px; 
  padding: 0%
}
.btnSubmit a{
  display:inherit;
}
.card{
  margin: auto;
}
.btn-daftar{
  font-size: 14pt;
  border: 2px solid #0080DD;
  text-align: center;
  border-radius: 50px;
  padding: 5px;
  text-decoration: none;
}
.btn-daftar:hover{
  font-size: 14pt;
  border: 2px solid #0080DD;
  background-color: #0080DD;
  border-radius: 50px;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 864px) {
  .masonry{
    column-count: 1;
    column-gap: 3%;
    column-width: 30%;
  }
  .wizard-container{
    display: grid;
    grid-template-columns: 1fr;
    clear: both;
  }
  .title-slider{
    font-size: 18px;
  }
  .tbl-pelamar{
    min-width: 900px;
    width: 900px;
    max-width: 900px;
  }
 
}

@media only screen and (max-width: 600px) {
  .desktop-image {
    display: none !important;
  }
  .mobile-image {
    display: block !important;
  }
  .buttonBack{
    margin-top: 20px !important;
    cursor:pointer;
  }
  .header-vascomm{
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.2);
  }
  .logo-vascomm{
    width: 120px !important;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .btnVisit{
    text-decoration: none; 
    color: white;
    margin-right: 0px;
    padding: 5px 20px;
    background-color: #0472B9;
    border-radius: 21px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
  }



  .apply-btn{
    bottom: -51px;
  }
  .margin-top{
    margin-top:10%;
    margin-bottom:8%;
  }
  .buttonBack a {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #8F8F8F;
}
} 
