@font-face {
  font-family: 'inter_regular'!important;
  src: url('../font/Inter/static/Inter-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'inter_medium'!important;
  src: url('../font/Inter/static/Inter-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'inter_semibold'!important;
  src: url('../font/Inter/static/Inter-SemiBold.ttf') format('ttf');
}
@font-face {
  font-family: 'inter_bold'!important;
  src: url('../font/Inter/static/Inter-Bold.ttf') format('ttf');
}

html, body {
  height: 100%;
}

body {
  /*font-family: "Raleway", sans-serif;*/
  font-family: 'inter_regular', sans-serif !important;
  font-weight: 400;
  font-size: 14px;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  color: #707070;
}

.wrapper {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  background:#F2F5FA;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.main-header {
  max-height: 100px;
  z-index: 1030;
  width: 100%;
  padding: 0px;
  position: fixed;
  /*border-bottom: 1px solid #cccccc;*/
  background: #F2F5FA;
}
.main-header .logo {
  display: block;
  float: left;
  font-size: 20px;
  font-weight: 600;
  line-height: 60px;
  width: 290px;
  padding: 0 20px;
  overflow: hidden;
  color: #fff;
  background-color: #f2f2f2;
  text-decoration: none;
  /* padding-left: 10px;
  position: fixed; */
}

.main-header .logo img {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}
.main-header .logo a {
  float: left;
}
.main-header .logo.mini {
  width: 70px;
}
.main-header .logo.mini a span p {
  display: hidden;
}
@media (max-width: 991px) {
  .main-header .logo.mini {
    width: 260px;
  }
  .main-header .logo.mini a span p {
    display: block;
  }
}
.main-header .logo.mbl {
  margin-left: 100% !important;
}
@media (min-width: 768px) {
  .main-header .logo.mbl {
    margin-left: 0px !important;
  }
}
.main-header .logo img {
  margin-right: 0px;
}
@media (max-width: 767px) {
  .main-header .logo {
    margin-left: calc(100% - 260px);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-header .logo {
    width: 80px;
  }
  .main-header .logo a span p {
    display: hidden;
  }
}
.main-header .navbar-top {
  width: 100%;
  background: #F2F5FA;
}
.main-header .nav-page {
  padding: 0px 45px;
  line-height: 30px;
  display: flow-root;
  width: fit-content;
  float: left;
  z-index: -1;
}
.main-header .nav-page p {
  margin-bottom: 0px;
}
@media (max-width: 767px) {
  .main-header .nav-page {
    position: absolute;
  }
}
.main-header .toggel-btn {
  position: fixed;
  float: left;
  width: 60px;
  height: 60px;
  font-size: 30px;
  /* padding: 5px; */
  padding: 8px 0px 0px 272px;
  margin-left: calc(100% - 320px);
  display: inline-block;
  cursor: pointer;
  z-index: 100;
}
.main-header .toggel-btn a {
  color: #333;
}
.main-header .toggel-btn .bar1, .main-header .toggel-btn .bar2, .main-header .toggel-btn .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.main-header .toggel-btn .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.main-header .toggel-btn .bar2 {
  opacity: 0;
}
.main-header .toggel-btn .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.main-header .toggel-btn .active {
  margin-left: calc(100% - 60px);
}
.main-header .toggel-btn.mbl {
  margin-left: calc(100% - 60px);
  padding: 8px 0px 0px 0px !important;
}
.main-header .toggel-btn.mbl .bar1, .main-header .toggel-btn.mbl .bar2, .main-header .toggel-btn.mbl .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.main-header .toggel-btn.mbl .bar1 {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.main-header .toggel-btn.mbl .bar2 {
  opacity: 1;
}
.main-header .toggel-btn.mbl .bar3 {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
@media (min-width: 768px) {
  .main-header .toggel-btn.mbl {
    margin-left: 0px !important;
  }
}
@media (min-width: 768px) {
  .main-header .toggel-btn {
    display: none;
  }
}
.main-header .search {
  float: right;
  height: 60px;
  padding-top: 18px;
  padding-right: 25px;
  display: flex;
}
.main-header .search input {
  width: 125px;
  border: none;
  border-color: transparent;
  outline: none;
  background: transparent;
  color: #B4B4B4;
}
.main-header .search ::placeholder {
  color: #B4B4B4;
}
@media (max-width: 767px) {
  .main-header .search {
    display: none;
  }
}
.main-header .minimize {
  margin-left: 260px;
  position: fixed;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  width: 30px;
  height: 30px;
  background-color: #444444;
  text-align: center;
  padding: 5px 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /* transition: all 0.1s ease-in-out; */
  position: fixed;
  z-index: 1000;
}
.main-header .minimize.mini {
  margin-left: 80px;
  /* transition: all 0.2s ease-in-out; */
}
@media (max-width: 767px) {
  .main-header .minimize.mini {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-header .minimize.mini {
    margin-left: 260px;
    /* transition: all 0.2s ease-in-out; */
  }
}
@media (max-width: 767px) {
  .main-header .minimize {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-header .minimize {
    margin-left: 80px;
    /* transition: all 0.2s ease-in-out; */
  }
}
.main-header .navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 60px;
}
.main-header .navbar .search {
  float: left;
  margin-right: 20px;
  border-bottom: 1px solid #B4B4B4;
  color: #B4B4B4;
}
.main-header .navbar .search input {
  width: 125px;
  border: none;
  border-color: transparent;
  outline: none;
  background: transparent;
  color: #B4B4B4;
}
.main-header .navbar .search ::placeholder {
  color: #B4B4B4;
}
.main-header .navbar .bell {
  float: left;
  padding-right: 10px;
  color: #B4B4B4;
}
.main-header .float-navbar {
  height: 60px;
}
.main-header .float-navbar .navbar {
  float: right;
}
.main-header .float-navbar .navbar .search {
  float: left;
  margin-right: 20px;
  border-bottom: 1px solid #B4B4B4;
  color: #B4B4B4;
}
.main-header .float-navbar .navbar .search input {
  width: 125px;
  border: none;
  border-color: transparent;
  outline: none;
  background: transparent;
  color: #B4B4B4;
}
.main-header .float-navbar .navbar .search input ::placeholder {
  color: #B4B4B4;
}
.main-header .float-navbar .navbar .bell {
  float: left;
  padding-right: 10px;
  color: #B4B4B4;
}
.main-header .float-navbar .navbar-left {
  float: left;
  padding: 5px 10px;
}
.main-header .float-navbar .navbar-left .fitur {
  font-size: 16px;
  margin: 0px;
}
.main-header .float-navbar .navbar-left .subfitur {
  font-size: 12px;
  margin: 0px;
}

.main-sidebar {
  height: 100%;
  width: 290px;
  position: fixed;
  overflow-x: hidden;
  margin-top: 25px;
  z-index: 100;
  top: 0;
  left: 0;
  background:#E6F5EC;
 /*  transition: all 0.3s ease-in-out; */
}
.main-sidebar.mbl {
  margin-left: 100%;
}
@media (min-width: 768px) {
  .main-sidebar.mbl {
    margin-left: 0px;
  }
}
.main-sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}
.main-sidebar::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}
.main-sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #878787;
}
.main-sidebar ul {
  list-style: none;
  padding: 0px;
  margin-bottom: 0px;
}
.main-sidebar ul .user {
  padding: 10px 10px 5px 20px;
  line-height: 40px;
  min-height: 60px;
  vertical-align: center;
  /*border-bottom: 0.2px solid grey;*/
  border-top: 0.2px solid grey;
  margin-bottom: 1px;
}
.main-sidebar ul .user img {
  float: left;
}
.main-sidebar ul .user span {
  float: right;
}
.main-sidebar ul .user .name {
  line-height: 72%;
  /* float: left; */
  padding-left: 0px;
  padding-top: 3px;
}

.margin-p-sidebar{
  margin-bottom: 5px;
}

.main-sidebar ul .user .pull-right-container {
  float: right;
  /*padding-right: 20px;*/
}
.main-sidebar ul .user .pull-right-container .active {
  transform: rotate(90deg);
}
.main-sidebar ul li {
  line-height: 25px;
  margin-bottom: 5px;
}

.main-sidebar ul li a {
  padding: 12px 5px 12px 20px;
  /* width: 100%; */
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}
.main-sidebar ul li a .pull-right-container {
  float: right;
  padding-right: 20px;
}
.main-sidebar ul li a:hover {
  /* background-color: #e7c8cd; */
  text-decoration: none;
  /* border-radius: 8px; */
}

.main-sidebar ul li .active {
  background: #e7c8cd;
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 20px;
}

.main-sidebar ul li .active span{
  font-family: 'inter_semibold', sans-serif !important;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  /* or 18px */

  display: flex;
  align-items: center;

  /* black */

  color: #050401;
}

.main-sidebar ul li .active-sub {
  border-left: 4px solid #fff;
  /*padding: 12px 5px 12px 16px;*/
}

.main-sidebar ul li ul {
  display: none;
}
.main-sidebar ul li ul li a {
  padding-left: 65px;
}
.main-sidebar ul li ul li a .submenu-active {
  background-color: rgba(196, 196, 196, 0.5);
}
.main-sidebar .menu-sidebar:last-child {
  margin-bottom: 100px;
}
.main-sidebar.mini {
  width: 70px;
  margin-top: 0px!important;
  /* transition: all 0.1s ease-in-out; */
}
.main-sidebar.mini ul li span {
  display: none;
}
.main-sidebar.mini ul .name {
  display: none;
}
.main-sidebar.mini ul ul li a {
  display: none;
}
@media (max-width: 767px) {
  .main-sidebar.mini {
    width: 260px;
    /* transition: all 0.2s ease-in-out; */
  }
  .main-sidebar.mini ul li span {
    display: block;
  }
  .main-sidebar.mini ul .name {
    display: block;
  }
  .main-sidebar.mini ul ul li a {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-sidebar.mini {
    width: 260px;
    /* transition: all 0.2s ease-in-out; */
  }
  .main-sidebar.mini ul li span {
    display: -webkit-inline-box;
  }
  .main-sidebar.mini ul .name {
    display: block;
  }
  .main-sidebar.mini ul ul li a {
    display: block;
  }
}
@media (max-width: 767px) {
  .main-sidebar {
    margin-left: calc(100% - 260px);
    /* transition: none; */
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-sidebar {
    width: 80px;
    /* transition: all 0.2s ease-in-out; */
  }
  .main-sidebar ul li span {
    display: none;
  }
  .main-sidebar ul .name {
    display: none;
  }
  .main-sidebar ul ul li a {
    display: none;
  }
}

.container {
  clear: both;
}
.content-footer {
    bottom: 0;
    clear: both;
    /*-webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;*/
    /*-moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;*/
    /*-o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;*/
    /*transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;*/
    margin-left: 290px;
    z-index: 820;
    left: 0;
    bottom: 0;
    padding: 5px 25px 25px 25px;
    background: #ffffff;
    box-shadow: 0px 7px 17px rgba(0, 0, 0, 0.03);
    height: 50px;
}
.content-wrapper {
  clear: both;
  margin-left: 290px;
  z-index: 820;
  padding: 5px 25px 25px 25px;
  margin-top: 40px;
  min-height: calc(100vh - 110px);
  height: min-content;
  /* margin-bottom: 40px; */
}
.content-wrapper.mini {
  margin-left: 70px;
  /* transition: all 0.2s ease-in-out; */
}
.content-footer.mini {
  margin-left: 70px;
  /* transition: all 0.2s ease-in-out; */
}
@media (max-width: 991px) {
  .content-wrapper.mini {
    margin-left: 0px;
  }
}
@media (max-width: 767px) {
  .content-wrapper.mini {
    margin-left: 0px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-wrapper {
    margin-left: 80px;
  }
}
@media (max-width: 767px) {
  .content-wrapper {
    margin-left: 0px;
  }
}

.card {
  background: #FFFFFF;
  border-radius: 10px;
  margin: 20px 0px;
  padding: 20px;
}

.box-info {
  min-height: 150px;
  border-radius: 10px;
  box-shadow: 0px 0px 24px -2px rgba(0, 0, 0, 0.54);
  color: #236EFF;
  margin: 10px 2px;
}

.box-success {
  min-height: 150px;
  border-radius: 10px;
  border: 2px solid #28a745;
  color: #28a745;
  border-left: 15px solid #28a745;
  margin: 10px 2px;
}

.box-danger {
  min-height: 150px;
  border-radius: 10px;
  border: 2px solid #dc3545;
  color: #dc3545;
  margin: 10px 2px;
}

.box-content {
  padding: 20px;
}

.box-full-content {
  padding: 40px 20px 40px 20px;
}
.box-full-content p {
  color: #fff;
  line-height: 0;
}
.box-full-content h1 {
  color: #000;
}

.box-icon-normal {
  width: 25%;
  float: left;
  text-align: center;
}

.box-value {
  width: 75%;
  float: left;
  text-align: right;
  color: #333333;
  top: -10px;
  position: relative;
}
.box-value h2 {
  color: #000;
}

.box-name-info {
  clear: both;
  height: 50px;
  background: linear-gradient(246.23deg, #2395FF 2.53%, #85D3FF 126.42%);
  line-height: 50px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
  padding: 0px 25px;
  font-size: 10px;
}
.box-name-info span {
  padding-right: 10px;
}

.box-name-danger {
  clear: both;
  height: 50px;
  background: linear-gradient(258.87deg, #FE693A 3.53%, #FF8964 97.02%);
  line-height: 50px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
  padding: 0px 25px;
  font-size: 10px;
}
.box-name-danger span {
  padding-right: 10px;
}

.box-icon-danger {
  width: 50%;
  float: left;
}

.load-more {
  margin-top: 10px;
  text-align: center;
}
.load-more a {
  color: #000;
  text-decoration: none;
}

.cover-icon {
  border-radius: 10px;
  height: 100px;
  width: 100px;
  background-color: #FF7A45;
  color: #fff;
  line-height: 100px;
  font-size: 60px;
  padding: 0px 10px;
  margin-top: -50px;
}

.btn {
  padding: 7px 20px;
  margin-bottom: 0;
  margin: 2px;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  min-height: 30px;
  min-width: 90px;
  border-radius: 5px;
}

.btn-table {
  margin-bottom: 0;
  margin: 2px;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  min-height: 15px;
  min-width: 15px;
  border-radius: 5px;
  padding: 2px 2px;
  min-width: 20px;
  min-height: 20px;
}

.btn-white {
  background-color: transparent;
  color: #fff;
}

.btn-default {
  background: transparent;
  border: 1px solid #707070;
}

.btn-primary {
  background-color: #2699FF;
  border: transparent;
}
.btn-primary:hover {
  background-color: #0080f2;
  color: #fff;
}

.btn-success {
  background-color: #73D13D;
  border: transparent;
  color: #fff;
}
.btn-success:hover {
  background-color: #5bb12a;
  color: #fff;
}

.btn-warning {
  background-color: #FF7A45;
  border: transparent;
  color: #fff;
}
.btn-warning:hover {
  background-color: #ff5612;
  color: #fff;
}

.btn-info {
  background-color: #FADB14;
  border: transparent;
  color: black;
}
.btn-info:hover {
  background-color: #efd005;
  color: black;
}

.btn-danger {
  background-color: #FF434E;
  border: transparent;
  color: #fff;
}
.btn-danger:hover {
  background-color: #ff101e;
  color: #fff;
}

.btn-rounded {
  border-radius: 10px;
}

.btn-square {
  border-radius: 0px;
}

.btn-circle {
  border-radius: 50%;
}

.btn-with-icon {
  padding: 5px 20px;
}
.btn-with-icon span {
  padding-right: 0.25rem;
}

.btn-icon {
  padding: 2px 2px;
  min-width: 30px;
  min-height: 30px;
}

.btn-half-circle {
  border-radius: 50px;
  padding: 5px 5px;
  text-align: center;
}

.btn-small {
  padding: 1px 5px;
  font-size: 10px;
  line-height: 1.5;
}

.btn-medium {
  padding: 10px 20px;
  font-size: 12px;
  line-height: 1.5;
}

.btn-large {
  padding: 10px 40px;
  font-size: 18px;
  line-height: 1.5;
}

.btn-block {
  width: 100%;
}

.btn-social-lgblck {
  font-size: 16px;
}

.btn-social-line {
  font-size: 16px;
  color: #2699FF;
  background-color: transparent;
  border: 1px solid #2699FF;
}

.pagination {
  padding: 2px 2px;
  font-size: 16px;
}

.pagination ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination a {
  display: inline-block;
  padding: 10px 10px;
  color: #222;
}
.pagination a:hover {
  text-decoration: none;
}

.pagOne a {
  width: 25px;
  height: 25px;
  line-height: 25px;
  padding: 0;
  text-align: center;
}

.pagOne a.is-active {
  background-color: #73D13D;
  border-radius: 100%;
  color: #fff;
}

.pagTwo a {
  width: 25px;
  height: 25px;
  line-height: 25px;
  padding: 0;
  text-align: center;
}

.pagTwo a.is-active {
  background-color: #FF434E;
  border-radius: 5px;
  color: #fff;
}

.tab {
  width: 100%;
  padding: 20px 20px;
  color: #fff;
  border-radius: 10px;
}
.tab .tab-content {
  padding: 10px;
  text-align: justify-content;
}

.tab-horiontal-default {
  background-color: #236EFF;
}
.tab-horiontal-default ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.tab-horiontal-default ul li {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
}
.tab-horiontal-default ul li.active {
  font-weight: 600;
  border-bottom: 2px solid #fff;
}

.tab-vertical-default {
  background-color: #236EFF;
}
.tab-vertical-default ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
  max-width: 20%;
  position: absolute;
  border-right: 1px solid #fff;
  padding-right: 15px;
}
.tab-vertical-default ul li {
  line-height: 30px;
  margin: 5px 0px;
  padding: 0px 5px;
}
.tab-vertical-default ul li.active {
  font-weight: 600;
  border-left: 2px solid #fff;
}
.tab-vertical-default .tab-content {
  margin-left: 20%;
}

.tab-horiontal-style {
  background-color: #32BEA6;
}
.tab-horiontal-style ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.tab-horiontal-style ul li {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
}
.tab-horiontal-style ul li.active {
  background-color: #1d6d5f;
  border-radius: 10px;
}

.tab-vertical-style {
  background-color: #32BEA6;
}
.tab-vertical-style ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  max-width: 20%;
  position: absolute;
  padding-right: 15px;
}
.tab-vertical-style ul li {
  line-height: 30px;
  margin: 5px 0px;
  padding: 0px 5px;
}
.tab-vertical-style ul li.active {
  background-color: #1d6d5f;
  border-radius: 10px;
}
.tab-vertical-style .tab-content {
  margin-left: 20%;
}

.tab-horiontal-icon {
  background-color: #C1564B;
}
.tab-horiontal-icon ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.tab-horiontal-icon ul li {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
}
.tab-horiontal-icon ul li.active {
  background-color: #7b322b;
  border-radius: 10px;
}

.tab-vertical-icon {
  background-color: #FF7A45;
}
.tab-vertical-icon ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  max-width: 20%;
  position: absolute;
  padding-right: 15px;
}
.tab-vertical-icon ul li {
  margin: 0px 0px;
  padding: 10px 20px;
}
.tab-vertical-icon ul li.active {
  background-color: #de3f00;
  border-radius: 10px;
}
.tab-vertical-icon .tab-content {
  margin-left: 20%;
}

.acd {
  width: 100%;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
  height: fit-content;
}
.acd ul li a {
  text-decoration: none;
  color: inherit;
}

.acd-vertical-default {
  background-color: #FF434E;
}
.acd-vertical-default ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
.acd-vertical-default ul li {
  line-height: 30px;
  color: #fff;
}
.acd-vertical-default ul li a {
  display: block;
  line-height: 30px;
}
.acd-vertical-default ul .inner {
  padding-top: 1em;
  overflow: hidden;
  display: none;
}
.acd-vertical-default ul .active a span i {
  transform: rotate(180deg);
}
.acd-vertical-default ul i {
  float: right;
}

.acd-horizontal-default {
  background-color: #FF434E;
}
.acd-horizontal-default ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.acd-horizontal-default ul li {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
}
.acd-horizontal-default ul .inner {
  padding-top: 1em;
  overflow: hidden;
  display: inline-block;
}
.acd-horizontal-default ul i {
  float: right;
}

.acd-vertical-icon-left {
  background-color: #73D13D;
  padding: 0px;
  color: #fff;
}
.acd-vertical-icon-left .acd-title {
  padding: 10px 20px;
  margin-bottom: 0px;
}
.acd-vertical-icon-left ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
.acd-vertical-icon-left ul li {
  padding: 0px;
  color: #fff;
  background-color: #519c25;
  line-height: 40px;
}
.acd-vertical-icon-left ul li a {
  padding: 0px 20px;
  line-height: 40px;
  display: block;
}
.acd-vertical-icon-left ul li a span {
  margin-right: 10px;
}
.acd-vertical-icon-left ul li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.acd-vertical-icon-left ul li:last-child .inner {
  line-height: 1.5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.acd-vertical-icon-left ul .inner {
  line-height: 1.5;
  padding: 10px 20px;
  overflow: hidden;
  display: none;
  background-color: #73D13D;
}

.acd-vertical-icon-right {
  background-color: #89c1ec;
  padding: 0px;
  color: #333;
}
.acd-vertical-icon-right .acd-title {
  padding: 10px 20px;
  margin-bottom: 0px;
}
.acd-vertical-icon-right ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
.acd-vertical-icon-right ul li {
  padding: 0px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  line-height: 40px;
}
.acd-vertical-icon-right ul li a {
  padding: 0px 20px;
  line-height: 40px;
  display: block;
}
.acd-vertical-icon-right ul li a span {
  float: right;
  padding-right: 20px;
}
.acd-vertical-icon-right ul li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.acd-vertical-icon-right ul li:last-child .inner {
  line-height: 1.5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.acd-vertical-icon-right ul .active {
  background-color: #89c1ec;
}
.acd-vertical-icon-right ul .inner {
  line-height: 1.5;
  padding: 10px 20px;
  overflow: hidden;
  display: none;
  background-color: #89c1ec;
}

.acd-vertical-icon-arrow {
  background-color: #4d5e72;
  padding: 0px;
  color: #fff;
}
.acd-vertical-icon-arrow .acd-title {
  padding: 10px 20px;
  margin-bottom: 0px;
}
.acd-vertical-icon-arrow ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
.acd-vertical-icon-arrow ul li {
  padding: 0px;
  color: #fff;
  line-height: 40px;
}
.acd-vertical-icon-arrow ul li a {
  padding: 0px 20px;
  line-height: 40px;
  display: block;
}
.acd-vertical-icon-arrow ul li a span {
  padding-right: 20px;
}
.acd-vertical-icon-arrow ul li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.acd-vertical-icon-arrow ul li:last-child .inner {
  line-height: 1.5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}
.acd-vertical-icon-arrow ul .active {
  background-color: #4d5e72;
}
.acd-vertical-icon-arrow ul .active a span i {
  transform: rotate(90deg);
}
.acd-vertical-icon-arrow ul .inner {
  line-height: 1.5;
  padding: 10px 20px;
  overflow: hidden;
  display: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.notif {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #333;
}
.notif .notif-content {
  float: initial;
  margin: 0px;
  padding-right: 15px;
}
.notif .notif-content p {
  margin-bottom: 0px;
}
.notif .close-btn-notif {
  float: right;
}

.notif-icon-offset {
  width: 22px;
  height: 22px;
  background-color: red;
  border-radius: 50%;
  font-size: 10px;
  line-height: 22px;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 10px;
  margin-left: -10px;
}

.notif-icon {
  font-size: 20px;
  float: left;
  margin-right: 10px;
}

.mdl {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  min-height: fit-content;
}

.mdl-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px !important;
}

.mdl-content {
  text-align: justify-content;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}

.mdl-btn-right {
  border-top: 1px solid #fff;
  text-align: right;
  padding: 10px 20px 0px 20px;
}
.mdl-btn-right a {
  text-decoration: none;
  color: #fff;
  padding-top: 10px;
}

.mdl-btn {
  border-top: 1px solid #fff;
  padding-top: 10px;
}

.mdl-content-left {
  padding: 20px;
  background: black;
}

.mdl-content-right {
  padding: 20px;
}
.mdl-content-right p {
  padding: 20px 0px;
  text-align: justify-content;
}

.close-btn-notif {
  float: right;
  margin-top: -5px;
  margin-right: -5px;
}

.alrt {
  border-radius: 10px;
  padding: 20px;
}
.alrt p {
  text-align: center;
}

.alrt-logo {
  text-align: center;
  font-size: 30px;
}

.alrt-logo-offset {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #E74C3C;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  display: block;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -45px;
  margin-bottom: 20px;
}

.alrt-button-center {
  text-align: center;
}
.alrt-button-center a {
  text-decoration: none;
  color: #fff;
  margin: 0px 10px;
}

.icon-header {
  width: 100;
}

.icon-highlight {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  height: 75px;
}
.icon-highlight li {
  list-style: none;
  float: left;
  font-size: 40px;
  display: block;
  min-width: 75px;
  text-align: center;
  margin: 5px;
}
.icon-highlight li p {
  font-size: 14px;
}

.content-icon {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.icon-show li {
  list-style: none;
  float: left;
  font-size: 30px;
  display: block;
  min-width: 75px;
  text-align: center;
}
.icon-show li a {
  text-decoration: none;
}
.icon-show li p {
  font-size: 12px;
}

.illustrasi-highlight {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  height: 75px;
}
.illustrasi-highlight li {
  list-style: none;
  float: left;
  font-size: 30px;
  display: block;
  min-width: 75px;
  text-align: center;
  margin: 5px;
  padding: 10px;
}
.illustrasi-highlight li.active {
  background-color: #CBCBCB;
  border-radius: 5px;
}
.illustrasi-highlight li.active p {
  color: #fff;
}
.illustrasi-highlight a {
  text-decoration: none;
}
.illustrasi-highlight a p {
  font-size: 12px;
  color: #808080;
  margin-bottom: 0px;
}

.photo-highlight {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  height: 75px;
}
.photo-highlight li {
  list-style: none;
  float: left;
  font-size: 30px;
  display: block;
  min-width: 75px;
  text-align: center;
  margin: 5px;
  padding: 10px;
}
.photo-highlight li.active {
  background-color: #CBCBCB;
  border-radius: 5px;
}
.photo-highlight li.active p {
  color: #fff;
}
.photo-highlight a {
  text-decoration: none;
}
.photo-highlight a p {
  font-size: 12px;
  color: #808080;
  margin-bottom: 0px;
}

.img-responsive-sml {
  width: 100%;
  max-width: 250px;
  height: auto;
  margin: 10px;
}

.img-responsive-md {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 10px;
}

.img-responsive-lg {
  width: 100%;
  height: auto;
  margin: 10px;
}

.typo {
  margin: 10px 0px;
}

.info {
  color: #333;
  background-color: #FF7A45;
  border: 1px solid #FF7A45;
}

.danger {
  color: #fff;
  background-color: #FF434E;
  border: 1px solid #FF434E;
}

.primary {
  color: #fff;
  background-color: #2699FF;
  border: 1px solid #2699FF;
}

.success {
  color: #fff;
  background-color: #73D13D;
  border: 1px solid #73D13D;
}

.darkblue {
  color: #fff;
  background-color: #1F618D;
}

.color-picker-card {
  background: #FFFFFF;
  mix-blend-mode: color-dodge;
  border-radius: 10px;
  margin: 20px 0px;
  padding: 20px;
}

.datatable-default {
  /* background-color: #E9F0FF; */
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
  padding: 10px;
  border-radius: 5px;
}

.container-login {
  margin: 80px 20px;
}

.login-left {
  height: 100vh;
  background-color: #236EFF;
  border-radius: 5px;
}

.login-right {
  min-height: 100vh;
  background-color: #fFF;
  padding: 0px;
}
.login-right .app-name-login {
  text-align: center;
}
.login-right .app-name-login .appname {
  margin-bottom: 5px;
}
.login-right .app-name-login .login-logo {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
.login-right .form-login {
  margin: 40px 0px;
  text-align: center;
}
.login-right .form-login .form-for-login {
  margin: 30px;
}
.login-right .form-login .form-for-login .group-form {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.login-right .form-login .form-for-login .group-form .input-login {
  border: none;
  flex: 1;
  background-color: #236EFF;
  padding: 5px 10px;
  border-radius: 5px;
}
.login-right .form-login .form-for-login .group-form .input-login::placeholder {
  color: #fff;
}
.login-right .form-login .form-for-login .group-form .input-icon {
  border: none;
  flex: 1;
  background-color: #236EFF;
  padding: 5px 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.login-right .form-login .form-for-login .group-form .input-icon::placeholder {
  color: #fff;
}
.login-right .form-login .form-for-login .group-form span {
  float: right;
  background: #236EFF;
  color: #fff;
  padding: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.login-center {
  width: 75%;
  margin: 40px auto;
  height: fit-content;
}
.login-center .left {
  float: left;
}
.login-center .right {
  float: right;
}
.login-center a {
  text-decoration: none;
  color: inherit;
}

.login-footer {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
}

.img-login {
  width: 100%;
  text-align: center;
  border-radius: 10px;
  margin-top: 30px;
  padding: 10px 40px;
}

.title-login {
  color: #fff;
  text-align: right;
  margin-top: 20px;
  padding: 10px 40px;
}
.title-login p {
  width: 50%;
  float: right;
}

.white {
  background-color: #fff;
}

.header-register {
  background: red;
  margin-top: 25px;
}
.header-register .left {
  float: left;
}
.header-register .left ul {
  list-style: none;
  line-height: 35px;
}
.header-register .left ul li {
  float: left;
  padding: 2px 10px;
}
.header-register .left ul a {
  text-decoration: none;
  color: #707070;
}
.header-register .left ul a span {
  color: #0051EF;
}
.header-register .right {
  float: right;
}
.header-register .right .backlogin {
  margin-right: 30px;
  color: #0051EF;
  border: 1px solid #0051EF;
}

.register-content {
  text-align: center;
  margin-top: 50px;
}
.register-content .app-name {
  color: #0051EF;
}
.register-content .register-left-cont {
  text-align: left;
  padding-top: 20px;
}
.register-content .register-left-cont h4 {
  color: #0051EF;
}
.register-content .register-left-cont .fa-gradient {
  background-image: linear-gradient(to bottom, #ff00b8, #e02fd1, #b847e6, #8159f6, #0066ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.register-content .register-left-cont p {
  padding-left: 20px;
}
.register-content .register-right-cont {
  padding-top: 20px;
}
.register-content .register-right-cont h5 {
  color: #0051EF;
}
.register-content .register-right-cont .form-for-register {
  margin: 20px;
}
.register-content .register-right-cont .form-for-register .group-form {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.register-content .register-right-cont .form-for-register .group-form .input-login {
  border: none;
  flex: 1;
  background-color: #236EFF;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
}
.register-content .register-right-cont .form-for-register .group-form .input-login::placeholder {
  color: #fff;
}
.register-content .register-right-cont .form-for-register .group-form .input-icon {
  border: none;
  flex: 1;
  background-color: #236EFF;
  padding: 5px 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.register-content .register-right-cont .form-for-register .group-form .input-icon::placeholder {
  color: #fff;
}
.register-content .register-right-cont .form-for-register .group-form span {
  float: right;
  background: #236EFF;
  color: #fff;
  padding: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.register-content .register-footer {
  margin-top: 30px;
}

.header-lock {
  background: red;
  margin-top: 25px;
}
.header-lock .left {
  float: left;
}
.header-lock .left ul {
  list-style: none;
  line-height: 35px;
}
.header-lock .left ul li {
  float: left;
  padding: 2px 10px;
}
.header-lock .left ul a {
  text-decoration: none;
  color: #707070;
}
.header-lock .left ul a span {
  color: #0051EF;
}

.lock-content {
  text-align: center;
  margin-top: 100px;
}
.lock-content .lock-card {
  max-width: 400px;
  margin: 30px auto;
  padding: 15px;
}
.lock-content .lock-card .cover-img {
  min-height: 100px;
  background-color: #C4C4C4;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.lock-content .lock-card .lock-user {
  min-height: 200px;
  background-color: #236EFF;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #fff;
}
.lock-content .lock-card .lock-user .img-profile-offset {
  margin-top: -50px;
}
.lock-content .lock-card .lock-user .lock-form {
  width: 60%;
  margin: 5px auto;
}
.lock-content .lock-card .lock-user .lock-form .group-form {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.lock-content .lock-card .lock-user .lock-form .input-icon {
  border: none;
  flex: 1;
  background-color: #FFF;
  padding: 5px 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: #707070;
}
.lock-content .lock-card .lock-user .lock-form .input-icon::placeholder {
  color: #707070;
}
.lock-content .lock-card .lock-user .lock-form input:focus {
  outline: none;
}
.lock-content .lock-card .lock-user .lock-form span {
  float: right;
  background: #FFF;
  color: #707070;
  padding: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-login-lock {
  background-color: #FF7A00;
  border: none;
  color: #fff;
  margin: 5px auto;
}

.form-default .group-form {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.form-default .form-control {
  background-color: #F6F6F6 !important;
  border: none !important;
  font-size: 12px;
}
.form-default .form-control:focus {
  box-shadow: none;
}
.form-default label {
  font-size: 12px !important;
}
.form-default .input-group .input-group-prepend .input-group-text {
  font-size: 12px;
}
.form-default .input-group .input-group-prepend .input-group-icon-red {
  background-color: #FF434E;
  color: #fff;
}
.form-default .input-group .input-group-prepend .input-group-icon-green {
  background-color: #2DCB76;
  color: #fff;
}
.form-default .input-group .input-group-prepend .input-group-icon-blue {
  background-color: #236EFF;
  color: #fff;
}

.form-stacked .form-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.form-stacked .group-form {
  display: flex;
  flex-direction: row;
  margin: 10px;
  position: relative;
}
.form-stacked .form-control {
  border: none !important;
  border-bottom: 1px solid #B2B2B2 !important;
  font-size: 12px;
  border-radius: 0px !important;
}
.form-stacked .form-control:focus {
  box-shadow: none;
}
.form-stacked label {
  font-size: 12px !important;
}
.form-stacked .col-form-label {
  font-size: 20px !important;
}
.form-stacked .stacked-label {
  position: absolute;
  left: 25px;
  top: 10px;
  color: #999;
  background-color: #fff;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}
.form-stacked .focused .stacked-label {
  transform: translateY(-125%);
  font-size: 0.75em;
}

.button-display {
  padding: 20px;
}

.display-grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 30px;
}

.display-grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.display-grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.display-grid-examples {
  margin: 20px 0px;
}

.stacked .form-group {
  position: relative;
}
.stacked .form-group + .form-group {
  margin-top: 30px;
}
.stacked .form-multi-row .form-label {
  position: absolute;
  left: 15px;
  top: 10px;
  color: #999;
  background-color: #fff;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}
.stacked .form-multi-row .form-group {
  position: relative;
}
.stacked .form-multi-row .form-group + .form-group {
  margin-top: 0px;
}
.stacked .form-label {
  position: absolute;
  left: 0;
  top: 10px;
  color: #999;
  background-color: #fff;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}
.stacked .focused .form-label {
  transform: translateY(-100%);
  font-size: 0.75em;
}
.stacked .form-input {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 100%;
  outline: 0;
  border: 0;
  box-shadow: 0 1px 0 0 #e5e5e5;
  transition: box-shadow 150ms ease-out;
}
.stacked .form-input:focus {
  box-shadow: 0 2px 0 0 #E0E0E0;
}
.stacked .form-input.filled {
  box-shadow: 0 2px 0 0 #E0E0E0;
}
.stacked .form-group-with-logo .icon {
  position: absolute;
  line-height: 40px;
  font-size: 20px;
}
.stacked .form-group-with-logo .form-content {
  margin-left: 40px;
}
.stacked .form-group-with-logo .form-content label {
  margin-left: 45px;
}

.checkbox {
  /*display: block;*/
  position: relative;
  line-height: 25px;
  padding-left: 25px;
  padding-right: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.cbver2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #A2BFFD;
  border-radius: 5px;
}

.cbver1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #A2BFFD;
  border-radius: 5px;
}

.checkbox:hover input ~ .cbver2 {
  border: 1px solid #4778d9;
}

.checkbox:hover input ~ .cbver1 {
  border: 1px solid #4778d9;
}

.checkbox input:checked ~ .cbver2 {
  border-left: 3px solid #4778d9;
  background-color: transparent;
}

.checkbox input:checked ~ .cbver1 {
  background-color: #2196F3;
}

.checkbox input:checked ~ .v1 {
  border-left: 3px solid #4778d9;
  background-color: transparent;
  color: #4778d9;
}

.cbver2:after {
  content: "";
  position: absolute;
  display: none;
}

.cbver1:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .cbver2:after {
  display: block;
}

.checkbox input:checked ~ .cbver1:after {
  display: block;
}

.checkbox .cbver2:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #4778d9;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox .cbver1:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.radiobtn {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radiobtn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.rb {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #A2BFFD;
  border-radius: 50%;
}

.radiobtn:hover input ~ .rb {
  border: 1px solid #4778d9;
}

.radiobtn input:checked ~ .rbver1 {
  background-color: #2196F3;
}

.radiobtn input:checked ~ .rbver2 {
  background-color: #fff;
}

.rb:after {
  content: "";
  position: absolute;
  display: none;
}

.radiobtn input:checked ~ .rb:after {
  display: block;
}

.radiobtn .rbver1:after {
  top: 6px;
  left: 7px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #A2BFFD;
}

.radiobtn .rbver2:after {
  top: 6px;
  left: 7px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4778d9;
}

input[switch] {
  display: none;
}

input[switch] + .c-switch-label {
  background-color: #C3D6FF;
  font-size: 14px;
  line-height: 1;
  width: 65px;
  height: 25px;
  border-radius: 2rem;
  padding: 0.1666666667rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  position: relative;
  font-family: inherit;
  vertical-align: middle;
  transition: all 0.1s ease-in-out;
}

input[switch] + .c-switch-label::before {
  /* Label */
  text-transform: uppercase;
  color: #FFF;
  content: attr(data-off-label);
  display: block;
  font-size: 0.7rem;
  line-height: 1.74rem;
  position: absolute;
  right: 0.2166666667rem;
  margin: 0.2166666667rem;
  top: 0;
  text-align: center;
  min-width: 1.6666666667rem;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
  margin-top: -1px;
}

input[switch] + .c-switch-label::after {
  /* Slider */
  content: "";
  position: absolute;
  left: 0.1666666667rem;
  background-color: #80A9FF;
  box-shadow: none;
  border-radius: 2rem;
  height: 1.6666666667rem;
  width: 1.6666666667rem;
  transition: all 0.1s ease-in-out;
  margin-top: -3px;
}

input[switch]:checked + .c-switch-label {
  background-color: #C3D6FF;
}

input[switch]:checked + .c-switch-label:before {
  color: #fff;
  content: attr(data-on-label);
  right: auto;
  left: 0.2166666667rem;
}

input[switch]:checked + .c-switch-label:after {
  left: 2.1666666667rem;
  background-color: #80A9FF;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 2px;
  background: #C3D6FF;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4C89FF;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

@media (max-width: 767px) {
  aside .main-sidebar .mdl {
    margin-left: 100% !important;
  }
}
.select2 {
  margin-bottom: 10px;
  border-radius: 5px !important;
}

.select2-width{
  width: 100% !important;
}

.min-width{
  width: 85% !important;
}

.select2-selection--single {
  width: 100% !important;
  border: transparent !important;
}

.select2-selection--single :hover {
  border-color: #80A9FF !important;
}

/* .dropdown {
  width: 100%;
  height: 28px;
} */

.chart-normal {
  min-height: 190px;
  border-radius: 10px;
  box-shadow: 0px 4px 24px -2px rgba(130, 130, 130, 0.45);
  color: #236EFF;
  margin: 10px 2px;
}
.chart-normal .chaet-content {
  padding: 10px;
}
.chart-normal .chart-name {
  border-top: 1px solid #236EFF;
  padding: 10px 20px;
  font-size: 10px;
  bottom: 0;
}
.chart-normal .chart-name i {
  margin-right: 10px;
}
.chart-normal .chart-name a {
  text-decoration: none;
}

.chart-normal-overflow {
  border-radius: 10px;
  border: 2px solid transparent;
  box-shadow: 0px 4px 24px -2px rgba(130, 130, 130, 0.45);
  margin: 10px 2px;
}
.chart-normal-overflow .chart-content-overflow {
  padding-top: 20px;
  border: 1px solid #56CCF2;
  border-radius: 10px;
  width: 80%;
  margin: 0% 10%;
  margin-top: -20px;
  background-color: #fff;
}
.chart-normal-overflow .chart-ket {
  padding: 0px 20px;
}
.chart-normal-overflow .chart-name {
  border-top: 1px solid #56CCF2;
  padding: 10px 20px;
  font-size: 10px;
  background-color: #56CCF2;
}
.chart-normal-overflow .chart-name i {
  margin-right: 10px;
}
.chart-normal-overflow .chart-name a {
  text-decoration: none;
}

.clear {
  clear: both;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  border: none;
}

.widget-def {
  min-height: 180px;
  border-radius: 10px;
  box-shadow: 0px 4px 24px -2px rgba(0, 0, 0, 0.45);
  color: #236EFF;
  margin: 10px 2px;
}

.widget-full {
  min-height: 150px;
  border-radius: 10px;
  background: linear-gradient(111.99deg, #666666 -17.4%, #353535 98.37%);
  box-shadow: 0px 4px 24px -2px rgba(0, 0, 0, 0.45);
  margin: 10px 2px;
  color: #fff;
}

/*# sourceMappingURL=compiler.css.map */
