.btn-home-color {
   background: #f2f2f2;
   border-radius: 8px;
   font-family: 'inter_semibold', sans-serif !important;
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 17px;
   color: #ffffff;
   padding: 12px;
}

.btn-home-color.blue{
   background: #2785C5;
}

.btn-home-color.blue:hover{
   background: #2785C5;
   color: #ffffff;
   box-shadow: none;
}

.btn-home-color.dark-blue{
   background: #1976D3;
}

.btn-home-color.dark-blue:hover{
   background: #1976D3;
   color: #ffffff;
   box-shadow: none;
}

.btn-home-color.green{
   background: #008001;
}

.btn-home-color.green:hover{
   background: #008001;
   color: #ffffff;
   box-shadow: none;
}

.btn-home-color.grey{
   background: #808080;
}

.btn-home-color.grey:hover{
   background: #808080;
   color: #ffffff;
   box-shadow: none;
}

.btn-home-color.purple{
   background: #81007F;
}

.btn-home-color.purple:hover{
   background: #81007F;
   color: #ffffff;
   box-shadow: none;
}

.btn-home-color.red{
   background: #DF0E2C;
}

.btn-home-color.red:hover{
   background: #DF0E2C;
   color: #ffffff;
   box-shadow: none;
}

.btn-home-color.yellow{
   background: #FF9700;
}

.btn-home-color.yellow:hover{
   background: #FF9700;
   color: #ffffff;
   box-shadow: none;
}

#loading-overlay {
   display: none;
}

#loading-overlay.active {
   display: block;
   position: fixed;
   width: 100%;
   height: 100%;
   z-index: 99999;
   background: #00000096;
   padding-top: 20%;
}

.loader {
   margin: 7px auto;
   border: 10px solid #f3f3f3;
   border-radius: 50%;
   border-top: 10px solid #df0e2c;
   width: 100px;
   height: 100px;
   -webkit-animation: spin 1s linear infinite; /* Safari */
   animation: spin 1s linear infinite;
}

.tbl-logo-offset {
   background: #006677 !important;
}

@-webkit-keyframes spin {
   0% {
      -webkit-transform: rotate(0deg);
   }
   100% {
      -webkit-transform: rotate(360deg);
   }
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

.navbar-adm {
   background: #ffffff;
   padding: 0;
   min-height: 75px;
   box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
}
.navbar-adm .nav-item {
   height: 75px;
   display: flex;
   align-items: center;
}
.navbar-adm .nav-item.active {
   border-bottom: 4px solid #df0e2c;
   padding-top: 4px;
}
.navbar-adm .nav-item .nav-link {
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 17px;
   color: #828282;
}
.navbar-adm .nav-item.active .nav-link {
   color: #050401;
   font-weight: bold;
}

.goToForget {
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   line-height: 130%;
   letter-spacing: -0.02em;
   color: #df0e2c !important;
   cursor: pointer;
}
/* .custom-control-input:checked~.custom-control-label::before {
    background: #DF0E2C;
    border-color: #DF0E2C;
} */

.signup-text p {
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 130%;
   letter-spacing: -0.02em;
   color: #333333;
   margin-bottom: 0px;
}
.signup-text p span {
   font-weight: bold;
   color: #df0e2c;
}

/* Custom Checked */
.container-custom-checked {
   display: block;
   position: relative;
   padding-left: 27px;
   margin-bottom: 12px;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   font-style: normal;
   font-weight: normal !important;
   font-size: 12px;
   line-height: 130%;
   letter-spacing: -0.02em;
   color: #333333;
}

/* Hide the browser's default checkbox */
.container-custom-checked input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}

/* Create a custom checkbox */
.checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 20px;
   width: 20px;
   background-color: #eee;
   border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.container-custom-checked:hover input ~ .checkmark {
   background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-custom-checked input:checked ~ .checkmark {
   background-color: #df0e2c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
   content: '';
   position: absolute;
   display: none;
}

/* Show the checkmark when checked */
.container-custom-checked input:checked ~ .checkmark:after {
   display: block;
}

/* Style the checkmark/indicator */
.container-custom-checked .checkmark:after {
   left: 8px;
   top: 4px;
   width: 5px;
   height: 10px;
   border: solid white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}

.modal-sign-up {
   max-width: 340px;
}
.modal-sign-up .modal-content {
   background: #ffffff;
   box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
}
.modal-sign-up .modal-content .modal-body {
   padding: 2.1rem 1.8rem;
}

.modal-for-notif {
   max-width: 340px;
}
.modal-for-notif .modal-content {
   background: #ffffff;
   box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
}
.modal-for-notif .modal-content .modal-body {
   padding: 2.1rem 1.8rem;
}
.modal-for-notif .modal-icon-notif .ilustrasi {
   width: 65px;
   height: 65px;
   background: #ffffff;
   box-shadow: 0px 10px 20px rgb(0 0 0 / 15%);
   border-radius: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 1.5rem;
}
.modal-for-notif .modal-content-notif p {
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 130%;
   letter-spacing: -0.02em;
   color: #4f4f4f;
}
/* .modal-for-notif .modal-content-notif p a {
    text-decoration: none;
    font-weight: 700;
    color: #4F4F4F;
} */

footer {
   padding: 4rem 0px;
}
.title-usefull-link {
   font-style: normal;
   font-weight: 500;
   font-size: 12px;
   line-height: 130%;
   letter-spacing: -0.02em;
   color: #bdbdbd;
}
.subtitle-usefull-link {
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   line-height: 130%;
   letter-spacing: -0.02em;
   color: #050401;
}
ul.usefull-link {
   list-style-type: none;
   padding-left: 0px;
}
ul.usefull-link li {
   margin-top: 5px;
   margin-bottom: 5px;
}
ul.usefull-link li a {
   text-decoration: none;
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   line-height: 130%;
   letter-spacing: -0.02em;
   color: #df0e2c;
}

ul.location-list {
   padding-left: 1em;
}
ul.location-list li::marker {
   color: #df0e2c;
}
ul.location-list li p {
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 130%;
   letter-spacing: -0.02em;
   color: #050401;
}

.all-right-reserved {
   width: 145px;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 15px;
   letter-spacing: -0.01em;
   color: #bdbdbd;
}

.profile-access {
   display: flex;
   align-items: center;
   cursor: pointer;
}
.profile-access .img-profile {
   width: 30px;
   height: 30px;
   object-fit: cover;
}
.profile-access .name-profile {
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 17px;
   color: #050401;
   margin-bottom: 0px;
   margin-left: 10px;

   width: 90px;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
}
.profile-access i {
   margin-left: 10px;
   color: #bdbdbd;
   font-size: 20px;
}
.profile-dropdown .dropdown-menu {
   background: #ffffff;
   border: 0.2px solid #e0e0e0;
   box-sizing: border-box;
   box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.15);
   border-radius: 10px;
   padding: 0px;
   min-width: 212px;
   /* overflow: hidden; */
   top: 110%;
   left: -12px;
   margin: 1rem 0 0;
}
.profile-dropdown .dropdown-menu:before {
   content: '';
   border-bottom: 13.2px solid #e0e0e0;
   border-right: 10.2px solid transparent;
   border-left: 10.2px solid transparent;
   position: absolute;
   top: -13px;
   left: 18px;
   z-index: 1001;
}
.profile-dropdown .dropdown-menu:after {
   content: '';
   border-bottom: 13px solid #fff;
   border-right: 10px solid transparent;
   border-left: 10px solid transparent;
   position: absolute;
   top: -12.1px;
   left: 18px;
   z-index: 1002;
}
.profile-dropdown .dropdown-item {
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 113.2%;
   color: #333333;
   text-decoration: none;
   padding: 1rem;
   display: flex;
   align-items: center;
}
.profile-dropdown .dropdown-item img {
   margin-right: 7px;
}
.profile-dropdown h6.dropdown-item {
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 113.2%;
   color: #050401;
   margin-bottom: 0.4rem;
   margin-top: 0.4rem;
}
.profile-dropdown h6.dropdown-item:hover {
   background-color: #ffffff;
}
.profile-dropdown h6.dropdown-item:active {
   background-color: #ffffff;
}
.profile-dropdown .dropdown-item:active {
   background-color: #df0e2c;
}
.profile-dropdown .dropdown-item.signout:hover {
   background-color: transparent;
}
.profile-dropdown .dropdown-item.signout:active {
   background-color: transparent;
}
.profile-dropdown .dropdown-divider {
   margin: 0px;
   border-top: 1px solid #bdbdbd;
}

.notif-dropdown.dropdown {
   margin-right: 2rem;
}
.notif-dropdown .notif-access {
   cursor: pointer;
}
.notif-dropdown .notif-count {
   position: absolute;
   font-style: normal;
   font-weight: 500;
   font-size: 9px;
   line-height: 12px;
   color: #e8f7ee;
   background: #df0e2c;
   border: 2px solid #ffffff;
   border-radius: 20px;
   padding: 1px 3px;
   right: -7px;
   top: -6px;
   height: 17px;
}
.notif-dropdown .dropdown-menu {
   background: #ffffff;
   border: 0.2px solid #e0e0e0;
   box-sizing: border-box;
   box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.15);
   border-radius: 10px;
   padding: 0px;
   min-width: 300px;
   /* overflow: hidden; */
   top: 110%;
   right: -14px;
   margin: 1.15rem 0 0;
}
.notif-dropdown .dropdown-menu:before {
   content: '';
   border-bottom: 13.2px solid #e0e0e0;
   border-right: 10.2px solid transparent;
   border-left: 10.2px solid transparent;
   position: absolute;
   top: -13px;
   right: 13.5px;
   z-index: 1001;
}
.notif-dropdown .dropdown-menu:after {
   content: '';
   border-bottom: 13px solid #fff;
   border-right: 10px solid transparent;
   border-left: 10px solid transparent;
   position: absolute;
   top: -12.1px;
   right: 13.3px;
   z-index: 1002;
}
.notif-dropdown .dropdown-item .notif-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.notif-dropdown .dropdown-item .notif-header h6 {
   margin-bottom: 0px;
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 113.2%;
   color: #050401;
}
.notif-dropdown .dropdown-item .notif-header h6 .notif-count-inside {
   font-style: normal;
   font-weight: 500;
   font-size: 12px;
   line-height: 15px;
   color: #e8f7ee;
   background: #df0e2c;
   border: 2px solid #ffffff;
   border-radius: 20px;
   padding: 1px 3px;
}
.notif-dropdown .dropdown-item .notif-header a {
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   line-height: 130%;
   letter-spacing: -0.02em;
   color: #df0e2c;
   text-decoration: none;
}
.notif-dropdown .dropdown-item:first-child {
   margin-bottom: 0.4rem;
   margin-top: 0.4rem;
}
.notif-dropdown .dropdown-item:first-child:hover {
   background-color: #ffffff;
}
.notif-dropdown .dropdown-item:first-child:active {
   background-color: #ffffff;
}
.notif-dropdown .dropdown-item:active {
   background-color: transparent;
}
.notif-dropdown .dropdown-divider {
   margin: 0px;
   border-top: 1px solid #bdbdbd;
}
.notif-dropdown .dropdown-item {
   text-decoration: none;
   padding: 1rem;
}
.notif-dropdown .dropdown-item .notif-title {
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 113.2%;
   color: #333333;
   margin-bottom: 0px;
}
.notif-dropdown .dropdown-item .notif-content {
   font-style: normal;
   font-weight: 500;
   font-size: 12px;
   line-height: 130%;
   color: #828282;
   margin: 0.3rem 0px;

   max-width: 250px;
   overflow: hidden;
   white-space: normal;
   text-overflow: ellipsis;
}
.notif-dropdown .dropdown-item .notif-detail {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 0.5rem;
}
.notif-dropdown .dropdown-item .notif-detail .date-notif {
   font-style: normal;
   font-weight: normal;
   font-size: 10px;
   line-height: 130%;
   color: #828282;
   margin-bottom: 0px;
}
.notif-dropdown .dropdown-item .notif-detail .link-notif {
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   line-height: 130%;
   letter-spacing: -0.02em;
   color: #df0e2c;
   text-decoration: none;
}

.card-job-list {
   background: #ffffff;
   border: 1px solid #e0e0e0;
   box-sizing: border-box;
   border-radius: 10px;
   transition: box-shadow 0.5s, border 0.8s;
}
.card-job-list:hover {
   box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
   border: 1px solid #ffffff;
}
.job-list-detail .icon-wrapper {
   width: 22px;
   text-align: center;
   display: table;
}
.job-list-detail .text {
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 130%;
   letter-spacing: -0.02em;
   color: #828282;
   margin-bottom: 0px;
   margin-left: 0.5rem;
}
.job-search-wrapper {
   display: flex;
   align-items: center;
   cursor: pointer;
}
.job-search-wrapper p {
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 17px;
   color: #df0e2c;
   margin-bottom: 0px;
   margin-left: 0.5rem;
}
.job-search .dropdown-menu {
   background: #ffffff;
   border: 0.2px solid #e0e0e0;
   box-sizing: border-box;
   box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.15);
   border-radius: 10px;
   padding: 0px;
   top: 15px !important;
}
.job-search .dropdown-menu:before {
   content: '';
   border-bottom: 13.2px solid #e0e0e0;
   border-right: 10.2px solid transparent;
   border-left: 10.2px solid transparent;
   position: absolute;
   top: -13px;
   right: 13.5px;
   z-index: 1001;
}
.job-search .dropdown-menu:after {
   content: '';
   border-bottom: 13px solid #fff;
   border-right: 10px solid transparent;
   border-left: 10px solid transparent;
   position: absolute;
   top: -12.1px;
   right: 13.3px;
   z-index: 1002;
}
.job-search .dropdown-menu.search {
   min-width: 300px;
}
.job-search .dropdown-menu.search .submit-filter {
   background-color: transparent;
   border: none;
   padding: 0px;
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 113.2%;
   color: #df0e2c;
   margin-left: 0.3rem;
}
.job-search .dropdown-menu.filter {
   min-width: 300px;
}
.job-search .dropdown-menu .dropdown-item {
   padding: 1rem;
}
.job-search .dropdown-menu .dropdown-divider {
   margin: 0px;
   border-top: 1px solid #bdbdbd;
}
.job-search .dropdown-menu .dropdown-item:hover {
   background-color: transparent;
}
.job-search .dropdown-menu .dropdown-item:active {
   background-color: transparent;
}
.job-search .dropdown-menu.filter .dropdown-item .clear-filter {
   background-color: transparent;
   border: none;
   padding: 0px;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 113.2%;
   color: #828282;
}
.job-search .dropdown-menu.filter .dropdown-item .submit-filter {
   background-color: transparent;
   border: none;
   padding: 0px;
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 113.2%;
   color: #df0e2c;
}
.job-search .dropdown-menu h6 {
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 113.2%;
   color: #050401;
}
.job-search .dropdown-menu.filter .list-type-job {
   display: flex;
   align-items: center;
}

.job-type-select {
   cursor: pointer;
}

/* FAQ */
.main-container-faq {
   width: 100%;
}

.heading-container-faq {
   display: flex;
   justify-content: space-between;
}

.heading-container-faq h1 {
   font-weight: 700;
   color: black;
}

.heading-container-faq span {
   color: #df0e2c;
}

.active-faq {
   background-color: rgba(223, 14, 44, 1);
   color: rgba(232, 247, 238, 1);
}

.question-box h3 {
   font-size: 24px !important;
   font-weight: 700;
}

.content-container-faq {
   display: flex;
}

.question-box {
   width: 25%;
   height: 100%;
   box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
   border-radius: 10px;
   color: rgba(51, 51, 51, 1);
   cursor: pointer;
}

.content {
   display: none;
}

.question1 {
   border: 0.5px solid rgb(189, 189, 189, 0.5);
   padding: 32px 24px 12px 24px;
   border-radius: 10px 10px 0 0;
}

.question2,
.question3 {
   border: 0.5px solid rgb(189, 189, 189, 0.5);
   padding: 32px 24px 24px 24px;
}

.question4 {
   border: 2px solid rgb(189, 189, 189, 0.5);
   padding: 32px 24px 24px 24px;
   border-radius: 0 0 10px 10px;
}

.accordion-container {
   width: 75%;
   margin-left: 32px;
   margin-bottom: 108px;
}

.card h2 {
   text-decoration: none;
}

.card button {
   color: rgba(51, 51, 51, 1);
   text-decoration: none;
   text-align: left;
}

.accordion-container button {
   font-weight: 700;
}

.main-container-faq h1 {
   font-weight: 700;
   font-size: 36px;
}

.main-container-faq h2 {
   font-weight: 700;
   font-size: 18px;
}

.main-container-faq h3 {
   font-weight: 400;
   font-size: 14px;
}

/* CONTACT US */
.title-contact{
   font-family: 'inter_bold', sans-serif !important;
   font-style: normal;
   font-weight: bold;
   font-size: 36px;
   line-height: 130%;
   color: #050401;
}

.content-contact{
   font-family: 'inter_bold', sans-serif !important;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 130%;
   color: #050401;
}

.text-contact{
   font-family: 'inter_bold', sans-serif !important;
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 130%;
   letter-spacing: -0.02em;
   text-transform: capitalize;
   color: #333333;
   margin-bottom: 0px;
}

.li-contact{
   font-family: 'inter_bold', sans-serif !important;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 130%;
   letter-spacing: -0.02em;
   text-transform: capitalize;
   color: #333333;
}

/* COMPANY PROFILE */
.title-company{
   font-family: 'inter_bold', sans-serif !important;
   font-style: normal;
   font-weight: 900;
   font-size: 64px;
   line-height: 130%;
   color: #050401;
   padding-top: 100px;
}

.img-company {
   width: 1011px;
   height: 424px;
}

.content-company{
   font-family: 'inter_bold', sans-serif !important;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 150%;
   color: #333333
}

.visi-company{
   font-family: 'inter_bold', sans-serif !important;
   font-style: normal;
   font-weight: bold;
   font-size: 36px;
   line-height: 130%;
   color: #050401;
}

/* HOMEPAGE */
.div-blue-job {
   background: #2e61af;
   height: 70px;
}

.div-blue-job p {
   font-family: 'inter_bold', sans-serif !important;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 130%;
   text-align: center;
   letter-spacing: -0.02em;
   color: #e0e0e0;
   padding-top: 20px;
}

.div-blue-job span {
   font-weight: bold;
}

.div-blue-job a {
   color: #e0e0e0;
   margin-left: 20px;
}

.div-blue-job a:hover {
   color: #e0e0e0;
   text-decoration: none;
}

.div-blue-job img {
   margin-left: 15px;
}

.view-all-news {
   font-family: 'inter_bold', sans-serif !important;
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 17px;
   color: #df0e2c;
   float: right;
}

.view-all-news:hover {
   text-decoration: none;
   color: #df0e2c;
}

.view-all-news img {
   margin-left: 10px;
}

.home-news {
   max-width: 254px;
   height: 180px;
}

.card-list-home {
   background: #ffffff;
   border: 1px solid #e0e0e0;
   border-radius: 10px;
   margin-bottom: 2.6rem;
   max-width: 254px;
}

.card-list-home:hover {
   box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.tab-pane a {
   text-decoration: none;
}

.title-home-news {
   font-family: 'inter_bold', sans-serif !important;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 130%;
   letter-spacing: -0.02em;
   color: #050401;
}

.date-home-news {
   font-family: 'inter_bold', sans-serif !important;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 130%;
   letter-spacing: -0.02em;
   color: #828282;
}

.home-title-job {
   font-family: 'inter_bold', sans-serif !important;
   font-style: normal;
   font-weight: bold;
   font-size: 36px;
   line-height: 130%;
   letter-spacing: -0.02em;
   color: #050401;
}

.view-all-job {
   font-family: 'inter_bold', sans-serif !important;
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 17px;
   color: #df0e2c;
}

.view-all-job:hover {
   color: #df0e2c;
   text-decoration: none;
}

.bg-warning-home {
   background: #df0e2c;
   border-radius: 10px;
   max-width: 35px;
   height: 149px;
}

.bg-warning-home img {
   position: absolute;
   top: 60px;
   left: 7px;
}

.bg-grey {
   background: #f2f2f2;
   border-radius: 10px;
}

.text-warning-home {
   font-family: 'inter_semibold', sans-serif !important;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 150%;
   letter-spacing: -0.02em;
   color: #333333;
   font-family: 'inter_bold', sans-serif !important;
   padding-left: 10px;
   padding-top: 33px;
}

.text-warning-home span {
   font-weight: bold;
}

.mobile-nav-head .navbar-btn-mobile {
    display: none;
}

.profile-dropdown-mobile {
    display: none;
}
.tabs-edit-profile-mobile {
    display: none;
 }

 .btn-collapse {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-collapse:active {
    outline: none;
}
.btn-collapse .img-profile {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.btn-collapse .name-profile {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 17px;
    color: #050401;
    margin-bottom: 0px;
    margin-left: 10px;
 
    width: 210px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* .profile-dropdown-mobile .collapse .list-group {
    padding-left: 25px;
    margin-top: 10px;
} */
.profile-dropdown-mobile .collapse .list-group .list-group-item {
    padding-left: 2.25rem;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 113.2%;
    color: #333333;
    text-decoration: none;
    padding: 1rem 1rem 1rem 2.25rem;
    display: flex;
    align-items: center;
    border: 0 none;
}
.profile-dropdown-mobile .collapse .list-group .list-group-item img {
    margin-right: 10px;
}

.tabs-edit-profile-mobile a.nav-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 40px;
}
.tabs-edit-profile-mobile .nav-link p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 113.2%;
    color: #333333;
}
.tabs-edit-profile-mobile a.nav-link.active {
    background-color: #df0e2c;
    border-radius: 8px;
}
.tabs-edit-profile-mobile a.nav-link.active p {
    color: #e8f7ee;
}
.tabs-edit-profile-mobile a.nav-link img {
    margin-right: 7px;
}

@media only screen and (max-width: 575px) {
    .modal-sign-up {
        max-width: 100%;
    }
    .wrapper-mobile-nav {
        padding: 0px 15px;
    }

    .tabs-edit-profile-mobile a.nav-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        height: 55px;
        min-width: 55px;
        background-color: #F5F8FA;
        border-radius: 50%;
    }
    .tabs-edit-profile-mobile a.nav-link p {
        display: none;
    }
    .tabs-edit-profile-mobile a.nav-link.active {
        background-color: #df0e2c;
        border-radius: 30px;
    }
    .tabs-edit-profile-mobile a.nav-link.active p {
        display: block;
    }
    .tabs-edit-profile-mobile a.nav-link img {
        margin-right: 0px;
    }
}
@media only screen and (max-width: 768px) {
    .profile-dropdown {
        display: none;
    }
    .profile-dropdown-mobile {
        display: block;
    }

    .wrapper-mobile-nav {
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .wrapper-mobile-nav .navbar-toggler {
        border: none;
        background: white;
        height: 40px;
        width: 40px;
    }
    .wrapper-mobile-nav .navbar-toggler svg {
        fill: #828282;
    }
    .wrapper-mobile-nav .navbar-toggler svg:hover {
        fill: #050401;
    }
    #navbarSupportedContent {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        /* right: -470px; */
        background: white;
        width: 0;
        z-index: 16;
        /* padding-left: 15px; */
        /* padding-right: 15px; */
        height: 100vh;
        transition: 0.5s;
    }
    #navbarSupportedContent .mobile-nav-head {
        height: 75px;
        display: flex;
        align-items: center;
        padding-left: 23px;
    }
    #navbarSupportedContent .mobile-nav-head .navbar-btn-mobile {
        display: block;
        height: 40px;
        width: 40px;
        border: none;
        background: white;
    }
    #navbarSupportedContent .mobile-nav-head .navbar-btn-mobile svg {
        fill: #828282;
    }
    #navbarSupportedContent .mobile-nav-head .navbar-btn-mobile svg:hover {
        fill: #050401;
    }
    #navbarSupportedContent .nav-item {
        padding-left: 26px;
        padding-right: 26px;
    }
    #navbarSupportedContent .nav-item.active {
        padding-left: 20px;
        border-bottom: 0px;
        border-left: 6px solid #df0e2c;
    }
    #navbarSupportedContent .nav-item .nav-link {
        font-size: 28px;
    }
    #navbarSupportedContent .form-inline {
        padding-left: 26px;
        padding-right: 26px;
    }

    .tabs-edit-profile {
        display: none;
    }
    .tabs-edit-profile-mobile {
        display: flex;
        justify-content: space-between;
    }
}